@*<a href=@Url.RouteUrl("AdminPanel")>Admin Panel</a>*@


<div class=" control-section">
    <div class="sample-container">
        <ejs-filemanager id="filemanager" allowDragAndDrop="true" allowMultiSelection="true" created="onCreated" height="500px">
            <e-filemanager-ajaxsettings url="/FileManager/FileOperations"
                                        downloadUrl="/FileManager/Download"
                                        uploadUrl="/FileManager/Upload"
                                        getImageUrl="/FileManager/GetImage">
            </e-filemanager-ajaxsettings>
            <e-filemanager-uploadsettings maxFileSize="10737418240"></e-filemanager-uploadsettings>
        </ejs-filemanager>
    </div>
</div>

<script src="~/js/file_manager.js"></script>